/** FONTS */
$font-typed: 'momsdinner';
$font-handwrite: 'falliscoming';
$font-size-regular-text: 4vh;

/** Background image */
$background--paper: url('./web-assets/images/exclusive-paper.png');

/** ICONS */
$icon--veggie: url('../images/veggie.svg');

/** COLORS */
$color-border-satanic: #666;